.container {
  padding: 4px 12px;
  display: flex;
  gap: 6px;
  border: 1px solid #212121;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

.icon {
  margin-right: 4px;
}
